.App {
  font-size: 70px;
  font-weight: 600;
  background-image: linear-gradient(to left, #553c9a, #b393d3);
  color: transparent;
  background-clip: text;
}

.icon{
  cursor:pointer;
}

.task{
  flex-grow:1;
  margin-left:10px
}
